.boxType {
	display: block;
	box-sizing: border-box;
}

.images {
	display: block;
	height: 200px;
	width: 200px;
	margin: 5px;
	border: 1px solid blue;
	border-radius: 10px;
	object-fit: cover;
}

.createBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 20px;
	align-content: space-between;
	margin: 10px;
	height: 300px;
	width: 250px;
	/* background-color: rgba(255, 255, 255, 0.9); */
	background-color: #ede8e4;
	border-radius: 10px;
	animation-name: orderCard;
	animation-duration: 2s;
}

@keyframes orderCard {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.showBox:hover {
	box-shadow: 5px 5px 10px deeppink;
}

.itemName {
	display: block;
	font-size: 20px;
	color: blue;
	width: 100%;
	text-align: center;
}

.navItemName {
	position: absolute;
	animation-name: slideDown;
	animation-duration: 0.5s;
	z-index: 1;
	background-color: #3a3737;
	padding: 0px 20px;
	width: 100px;
	overflow: scroll;
}

@keyframes slideDown{
	from {
		height: 0px;
	}
	to {
		height: 270px;
	}
}

@keyframes slideUp{
	from {
		height: 270px;
	}
	to {
		height: 0px;
	}
}

.navItemRemove{
	animation-name: slideUp;
	animation-duration: 0.5s;
}

.addButton {
	box-sizing: border-box;
	width: 100%;
	height: 15%;
	min-width: 30px;
	justify-self: flex-end;
	/* background-color: red; */
	background-color: #de1515;
	text-align: center;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0px 0px 10px 10px;
	color: white;
}

/* .mainNav {
	margin: 10px 0px;
	display: inline;
} */

.white {
	color: white;
}

.changeQty {
	font-size: 1.25rem;
	background-color: inherit;
}

.cancel {
	color: red;
	font-size: 1.25rem;
	background-color: inherit;
}

.tableSrNo {
	width: 10%;
	text-align: center;
}

.tablItemName {
	width: 43%;
	text-align: center;
}

.tableItemAdd {
	width: 10%;
	text-align: right;
}

.tableItemQty {
	width: 25%;
	text-align: center;
}

.tableItemSubtract {
	width: 10%;
	text-align: left;
}

.tableItemRemove {
	width: 2%;
	text-align: center;
}

#heading {
	/* color: #012d4a; */
	color: white;
	min-height: 80px;
	text-align: center;
	padding-top: 10px;
	font-size: 50px;
	text-shadow: 2px 3px #f7128e;
	height: 10%;
	box-sizing: border-box;

}

#content {
	display: flex;
	height: 82%;
	box-sizing: border-box;
}

#navigation {
	display: flex;
	/* height: 5%; */
	/* background-color: #4da8da; */
	/* background-color: #0077be; */
	/* background-color: black; */
	/* background-color: gray; */
	background-image: linear-gradient(to right, #3e0003, #310000);
	border-radius: 20px;
	overflow: auto;
}

#leftContent {
	position: relative;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	justify-content: center;
	align-content: flex-start;
}

#rightContent {
	width: 20%;
	display: flex;
	flex-direction: column;
	position: relative;
	/* background-color: #4da8da; */
	background-color: #026fb1;
	padding-top: 25px;
	border-radius: 20px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	overflow: auto;
}

#rightSectionTitle {
	display: flex;
	justify-content: center;
	font-size: 20px;
	min-height: 30px;
	color: white;
	align-items: center;
	box-sizing: border-box;
	width: auto;
	margin-bottom: 20px;
}

#selectedTable {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	flex-grow: 1;
}

#submitButtonSection {
	align-self: flex-end;
	height: 5%;
	width: 100%;
	align-self: flex-end;
	padding: 5px 0px;
	color: darkgoldenrod;
	/* background-color: black; */
	background-color: darkred;
	border-radius: 50px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#submitButton {
	padding: 5px 10px;
	color: white;
	background-color: inherit;
	font-size: inherit;
	outline: none;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	font-weight: bold;

}

a {
	text-decoration: none;
}

h1 {
	width: 100%;
	font-size: 30px;
	min-height: 40px;
	text-align: center;
	font-weight: 600;
	/* background-color: #a52a2aba; */
}

.itemListHeading {
	color: white;
	text-shadow: 2px 2px blue;
	padding: 5px;
	position: sticky;
	top: 0px;
	background-color: black;
}


body {
	/* background-color: #12232e; */
	/* background-color: #81c8ee; */
	/* background-image: linear-gradient( to right, #0077be,white); */
	background-image: linear-gradient(to right, black, rgb(0, 0, 0));
	z-index: 0;
}

li {
	list-style-type: none;
	white-space: nowrap;
}

ol {
	/* padding: 0px; */
	padding-left: 20px;
}

strong {
	font-size: 1.75rem;
}

.naviItemHead {
	text-align: center;
}

.naviItemHead:hover {
	/* background-color: white; */
	color: #4da8da;
	border-radius: 20px;
}

.naviItemHead:scope {
	/* background-color: white; */
	color: #4da8da;
	padding: 10px 30px;
	border-radius: 20px;
}

button {
	cursor: pointer;
	border: none;
	font-family: inherit;
}

#displayItems button {
	background-color: inherit;
	font-family: inherit;
}

#displayItems li {
	display: inline-block;
	margin-right: 50px;
}

.previousOrderDisplay {
	animation-name: displayOrderAnimation;
	animation-duration: 0.5s;
	animation-fill-mode: both;
	/* animation-direction: reverse; */
	animation-timing-function: ease;
	display: flex;
	position: fixed;
	height: 80%;
	width: 80%;
	left: 10%;
	top: 10%;
	opacity: 0;
	background-color: #efeaeaf5;
	z-index: 1;
	overflow: auto;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	flex-direction: column;
}

@keyframes displayOrderAnimation {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.previousOrderRemove{
	animation-name: RemoveDisplayOrderAnimation;
	animation-duration: 0.5s;
}

@keyframes RemoveDisplayOrderAnimation {
	from {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(0);
	}
}

.cancelButton {
	position: absolute;
	right: 5px;
	top: 5px;
	color: darkred;
	background-color: inherit;
}

.previousOrderSection {
	box-sizing: border-box;
	width: 90%;
	height: 90%;
	padding: 15px;
	overflow: auto;
}

.previousOrderTable {
	width: 100%;
	overflow: auto;
	align-self: flex-start;
	border-collapse: collapse;
}

.prOrDate {
	width: 15%;
	text-align: center;
	border: 2px solid blue;
}

.prOrTime {
	width: 15%;
	text-align: center;
	border: 2px solid blue;
}

.prOrStatus {
	width: 15%;
	text-align: center;
	border: 2px solid blue;
}

.prOrEdit {
	width: 15%;
	text-align: center;
	border: 2px solid blue;
}

.prOrItems {
	text-align: center;
	border: 2px solid blue;
}

.cartTable {
	width: 100%;
	overflow: auto;
	align-self: flex-start;
}

.subTable {
	width: 100%;
}

.editButton {
	width: 80%;
	height: 100%;
	background-color: green;
	font-family: inherit;
	color: white;
	border-radius: 5px;
	font-weight: 700;
	padding: 6px;
	margin: 5px;
}

.removeButton {
	width: 80%;
	background-color: red;
	font-family: inherit;
	color: white;
	border-radius: 5px;
	margin-top: 5px;
	font-weight: 700;
	padding: 6px;
}

.copyToCartButton {
	width: 80%;
	background-color: #aadd11;
	font-family: inherit;
	color: black;
	font-weight: 700;
	padding: 6px;
	border-radius: 5px;
	margin: 5px;
}

.loading {
	color: white;
	font-weight: bold;
}

.previousOrderItemTableItemName {
	width: 90%;
	text-align: center;
}

.previousOrderItemRow {
	width: 100%;
}